@import "tailwindcss";

:root {
  --color-primary: #0078d4; /* Cisco Blue */
  --color-secondary: #00bceb; /* Light Teal */
  --color-accent: #ffb900; /* Accent Yellow */
  --color-muted: #f5f7fa; /* Light Gray Background */
  --color-dark: #1b1b1b; /* Dark Text */
  --color-white: #ffffff;
  --font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
